<div class="top topTitulo topCursos topOtrosCursos topHeader"></div>
<div class="container animated fadeInRight fast" *ngIf="authService.user | async;" ondragstart="return false">
    <!-- margin_top_bot -->
    <div class="row " appNgDropFiles (mouseSobrePag)="estaSobrePagina = $event">
        <div class="col-md-12">
            <h2 class="text-center textoCabeh2">Registro Servicio</h2>
        </div>
        <div class="col-md-6">

            <div class="col-md-12 top-10">
                <h4>Cargar Archivos</h4>
                <button (click)="cargarImagenes(false)" [disabled]="archivos.length == 0 || bandera == false" class="btn btn-success margin-r">Cargar Fotos</button>
                <button (click)="limpiarArchivos()" [disabled]="bandera == false" class="btn btn-danger">Borrar</button>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Progreso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archivo of archivos">
                            <td>{{archivo.nombreArchivo | slice:0:15}}</td>
                            <td>{{archivo.archivo.size /1024 /1024 | number: '.2-2' }} MB</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{width: archivo.progreso + '%'}"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h3>Seleciona Archivos</h3>

                <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over': estaSobreElemento}" class="well drop-zone">
                    <h4>Arrastrar Fotos</h4>
                    <img src="./assets/imagenes/drop-images.png">
                    <!-- <img src="../../../assets/imagenes/drop-images.png"> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 top-buttom-5">
            <form Class="form" #forma="ngForm">
                <div class="form-group">
                    <label>Email</label>
                    <input required [(ngModel)]="servicio.email" name="email" value={{servicio.email}} type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Empresa">
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input required [(ngModel)]="servicio.telefono" name="telefono" value={{servicio.telefono}} type="text" class="form-control" id="exampleInputTelfono1" aria-describedby="emailHelp" placeholder="Télefono Empresa">
                </div>
                <div class="form-group">
                    <label>Empresa</label>
                    <input required [(ngModel)]="servicio.empresa" name="empresa" value={{servicio.empresa}} type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la Empresa">
                </div>
                <div class="form-group">
                    <label>Tipo Servicio</label>
                    <input required [(ngModel)]="servicio.tipo" name="tipo" value={{servicio.tipo}} type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la Empresa">
                </div>
                <div class="form-group">
                    <label>Ubicación</label>
                    <input required [(ngModel)]="servicio.ubicacion" name="ubicacion" value={{servicio.ubicacion}} type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la Empresa">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Descripción</span>
                    </div>
                    <textarea required [(ngModel)]="servicio.descripcion" name="descr" value={{servicio.descripcion}} class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="form-group">
                    <label>Precio</label>
                    <input required [(ngModel)]="servicio.precio" name="precio" value={{servicio.precio}} type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la Empresa">
                </div>
                <div class="form-check form-check-inline">
                    <input required [(ngModel)]="servicio.tipoCliente" name="clientipo" class="form-check-input" type="radio" name="tipoRadio" id="inlineRadio1" value="lite">
                    <label class="form-check-label" for="inlineRadio1">Cliente lite 29,90€ </label>
                </div>
                <div class="form-check form-check-inline">
                    <input required [(ngModel)]="servicio.tipoCliente" name="clientipo" class="form-check-input" type="radio" name="tipoRadio" id="inlineRadio2" value="full">
                    <label class="form-check-label" for="inlineRadio2">Cliente Completo 49,90€</label>
                </div>
                <button (click)="guardar()" [disabled]="!forma.valid || bandera == true" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <!-----offset-md-3------>
    </div>
</div>
