<div class="container-fluid ">
    <div class="row ">
        <div class="col-12 page-header page-header-small">

            <div class="page-header-image parallax" style="background-image: url('assets/imagenes/imahead2.png');"></div>
            <div class="container ">
                <div class="content-center ">
                    <!-- <div class="cc-profile-image ">
                        <img class="" src="assets/imagenes/logo.png" />
                    </div> -->
                    <div class="h2 title">
                        <h1>Búsqueda se Servicios para Empresas</h1>
                    </div>
                    <p class="category text-white title-sub">Encuentra Servicios Turisticos para tus Clientes</p>
                    <a class="btn btn-primary smooth-scroll mr-2 aos-init aos-animate b1 animated flipOutX zoomIn " [routerLink]="['about']" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><span>Como Funciona</span></a>
                    <a class="btn btn-primary aos-init aos-animate b2 animated  zoomIn slowScala15" href="" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Registrate</a>

                    <div class="col-12 medio">
                        <a href="http://www.gmail.com" target="_blank" type="button" class="btn1 btn-warning btn-medio" data-toggle="tooltip" data-placement="bottom" title="info@searchservices.com">
                            <i class="fas fa-envelope-square fa-2x"></i>
                        </a>
                        <a href="https://web.whatsapp.com/" target="_blank" type="button" class="btn1 btn-warning btn-medio" data-toggle="tooltip" data-placement="right" title="000000000">
                            <i class="fab fa-whatsapp-square fa-2x"></i>
                        </a>
                    </div>

                </div>

            </div>

            <div class="container" style="margin-top:15%">
                <!-- ini   -->
                <div class="top">

                </div>
                <!-- fin -->

            </div>

        </div>
    </div>
</div>